.parent {
    text-align: left;
  }
.child {
    display: inline-block;
    vertical-align: left;
}

.show-stuff{
  /* padding-right: 600px;
  padding-left: 600px; */
  text-align: left;
  font-size: 120%;
  border-style: outset;
  border-radius: 10px;
  border-color: red;
}
