<div class="page-title">
    <h2>Activities</h2>
    <p class="lead">
    </p>
</div>

<div [hidden]="!isInstructor">
<button class="btn btn-primary" id="add_opinion" (click)="openAdd()">Add an activity</button>

<div class="form-stuff" [hidden]="openForm">
    <form method="POST" #AddOpinionForm="ngForm" autocomplete="off">
        <br><br>
        <div class="form-group">
            <label for="datePick">Date</label>
            <input
                id="datePick" 
                name="datePick" 
                bsDatepicker 
                [(ngModel)]="datePick" 
                type="text" 
                class="form-control" 
                #dp="bsDatepicker"
                [bsConfig]="{ dateInputFormat: 'DD - MM - YYYY' }"
                [minDate]="minDate"
                [maxDate]="maxDate" 
                [daysDisabled]="[0]">
        </div>
        <br>
        
        <!-- <form [formGroup]="form1">  
            <div class="form-group">  
                <label for="instructor">Instructor:</label>  
                <select formControlName="instructor" class="form-control">  
                    <option>Choose Instructor</option>  
                    <option *ngFor="let instructor of instructors$"> {{instructor.first_name}} {{instructor.last_name}}</option>  
                </select>  
            </div>  
        </form> -->
        <br>

        <label for="time">Choose time:</label>

        <div class="parent">
            <form [formGroup]="form3" class="child">  
                <div class="form-group">  
                    <select formControlName="hour" class="form-control">  
                        <option>Choose hour</option>  
                        <option *ngFor="let hour of hours$">{{hour}} </option>  
                    </select>  
                </div>
            </form>

            <form [formGroup]="form4" class="child">  
                <div class="form-group">  
                    <select formControlName="minute" class="form-control">  
                        <option>Choose minutes</option>  
                        <option *ngFor="let minute of minutes$">{{minute}} </option>  
                    </select>  
                </div>
            </form>
        </div>
    
        <form [formGroup]="form1">  
            <div class="form-group">  
                <label for="activity">Activity:</label>  
                <select formControlName="activity" class="form-control">  
                    <option>Choose activity</option>  
                    <option *ngFor="let activity of activities$">{{activity.id}}. {{activity.name_of_service}} </option>  
                </select>  
            </div>
        </form>
        <br>
        <form [formGroup]="form2">  
            <div class="form-group">  
                <label for="facility">Facility:</label>  
                <select formControlName="facility" class="form-control">  
                    <option>Choose facility</option>  
                    <option *ngFor="let facility of facilities$">{{facility.id}}. {{facility.city}} </option>  
                </select>  
            </div>
        </form>
        <br><br>
        <button class="btn btn-primary" id="button1" (click)="addActivity()">Add</button>
        <br><br><br>
        <button class="btn btn-primary" id="button2" (click)="goBack()">Go back</button>                        
        <br>
    </form>
</div>
</div>
<br><br>

<div class="form-group">
    <label for="datePickSearch">Date</label>
    <input
        id="datePickSearch" 
        name="datePickSearch" 
        bsDatepicker 
        [(ngModel)]="datePickSearch" 
        type="text" 
        class="form-control" 
        #dp="bsDatepicker"
        [bsConfig]="{ dateInputFormat: 'DD - MM - YYYY' }"
        [minDate]="minDate"
        [maxDate]="maxDate" 
        [daysDisabled]="[0]">
</div>
<button class="btn btn-primary" id="button1" (click)="search()">Search</button>
<br><br>

<div *ngFor="let activity of allActvities$ ">
    <div class="show-stuff">
        <p style="font-size: 140%;">{{activity.type_of_service}} </p>
        <p>Date: {{activity.date}} pm</p>
        <p>Instructor: {{activity.first_name}} {{activity.last_name}}</p>
        <p>Participants: {{activity.total_number_of_users}} / 15</p>
        <div class="parent">
            <div class="child">
                <button class="btn btn-primary" id="button1" [hidden]="isInstructor" [disabled]="!isLoggedIn" (click)="signUp(activity.id)">Sign up ({{activity.price}} $)</button>
            </div>
            <div class="child">
                <button class="btn btn-primary" id="button1" [hidden]="isInstructor" [disabled]="!isLoggedIn" (click)="useSub(activity.id, activity.date)">I have a subscription</button> 
            </div>
        </div>
    </div>
    <br>
</div>


<!-- <div *ngIf="f.facilitie.touched && f.facilitie.invalid" class="alert alert-danger">  
    <div *ngIf="f.website.errors.required">Name is required.</div>  
</div>   -->


<!-- <div class="form-group">
    <input required ngModel name="name" #name="ngModel" type="text" id="name" class="form-control" placeholder="Name" >
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Name required</div>
</div>
<div class="form-group">
    <input required ngModel name="city" #city="ngModel" type="text" id="city" class="form-control" placeholder="City" >
    <div class="alert alert-danger" *ngIf="city.touched && !city.valid">Location required</div>
</div>
<div class="form-group">
    <input required ngModel name="type" #type="ngModel" type="text" id="type" class="form-control" placeholder="Type" >
    <div class="alert alert-danger" *ngIf="type.touched && !type.valid">Type required</div>
</div> -->
<!-- <button class="btn btn-primary" id="button1" (click)="getData(name.value, city.value, type.value, opinion.value)" [disabled]="!AddOpinionForm.valid || isDisabled">Add opinion</button> -->
