<div class="page-title">
    <h2>Register</h2>
    <p class="lead">
    </p>
</div>

<div class="form-stuff">
    <form method="POST" #UserRegisatrationForm="ngForm" autocomplete="off">
        <div class="form-group">
            <div class="input-field">
            <input required maxlength="50" ngModel name="email" #email="ngModel" type="email" class="form-control validate text email required" placeholder="Email">
            <label for="email" data-error="Invalid email"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field">
            <input required minlength="3" maxlength="20" ngModel name="firstName" #firstName="ngModel" type="text" id="firstName" class="form-control validate" placeholder="First name" >
            <label for="firstName" [attr.data-error]="firstName.errors != null?(firstName.errors.required? 'Required Field' :'Minimum 3 characters needed'):''"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field">
            <input required minlength="3" maxlength="20" ngModel name="lastName" #lastName="ngModel" type="text" id="lastName" class="form-control validate" placeholder="Last name" >
            <label for="lastName" [attr.data-error]="lastName.errors != null?(lastName.errors.required? 'Required Field' :'Minimum 3 characters needed'):''"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field">
            <input required minlength="1" maxlength="50" ngModel name="city" #city="ngModel" type="text" id="city" class="form-control validate" placeholder="City" >
            <label for="city" [attr.data-error]="city.errors != null?(city.errors.required? 'Required Field' :'Minimum 1 characters needed'):''"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field">
            <input required minlength="1" maxlength="50" ngModel name="street" #street="ngModel" type="text" id="street" class="form-control validate" placeholder="Street" >
            <label for="street" [attr.data-error]="street.errors != null?(street.errors.required? 'Required Field' :'Minimum 1 characters needed'):''"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field">
            <input required minlength="1" maxlength="20" ngModel name="house_nr" #house_nr="ngModel" type="text" id="house_nr" class="form-control validate" placeholder="House/Flat Number" >
            <label for="house_nr" [attr.data-error]="house_nr.errors != null?(house_nr.errors.required? 'Required Field' :'Minimum 1 characters needed'):''"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field">
            <input required minlength="6" maxlength="7" ngModel name="postcode" #postcode="ngModel" type="text" id="postcode" class="form-control validate" placeholder="Postcode" >
            <label for="postcode" [attr.data-error]="postcode.errors != null?(postcode.errors.required? 'Required Field' :'Proper postcode required'):''"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field">
            <input required minlength="3" maxlength="20" ngModel name="password" #password="ngModel" type="password" id="password" class="form-control validate" placeholder="Password" (change)="getPassword(password.value)" >
            <label for="password" [attr.data-error]="password.errors != null?(password.errors.required? 'Required Field' :'Minimum 3 characters needed'):''"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field">
            <input required minlength="3" maxlength="20" ngModel name="repeatPassword" #repeatPassword="ngModel" type="password" id="repeatPassword" class="form-control validate" placeholder="Repeat password" [pattern]="passwordPattern" >
            <label for="repeatPassword" data-error="Password must match"></label>    
            </div>
        </div>
        <button class="btn btn-primary" (click)="clicked(email.value, firstName.value, lastName.value, city.value, password.value, repeatPassword.value)" [disabled]="!UserRegisatrationForm.valid || isDisabled">Register</button>
        <br>
        <div class="recaptcha-style">
            <app-recaptcha (callParent)="getMsgFromBaby()"></app-recaptcha>
        </div>                          
    </form>
</div>  
